extends layout

block content
  #header 
    #sitename= site.name
    #sitetitle !{site.title} 
    #refreshButton
      img(src="/images/refresh.png")
    #refreshLoading
      img(src="/images/refreshLoading.gif")
  #body
    #home
      #topLoading
        img.loading(src="/images/refreshLoading.gif")
      #topics
      #bottomLoading
        img.loading(src="/images/refreshLoading.gif")
      #moreButton More
      #end You've touched the ground.
    #source
      ul
        each c, s in site.resources
          a
            li(id="#{s}Source")= c.name 
    #about 
      p !{site.about}
      p 
        | Powered by 
        a(href="https://github.com/leonchen/jBlog", target="_blank") jBlog
  #footer
    table.menu
      thead
        tr
          th.on Home
          th Source
          th About

  script(id="weiboTopicTemplate", type="text/tempate")
    | <div class="topic">
    |   <table>
    |     <tr>
    |       <td class="avatar"><img src="<%= t.user.profile_image_url %>" /></td>
    |       <td>
    |         <div class="topicTitle"><%- t.user.screen_name %></div> 
    |         <div class="topicTime">Posted at <%- t.created_at %></div>
    |         <div class="topicContent">
    |           <p><%= showLinks(t.text) %></p>
    |           <% if (t.retweeted_status) { %>
    |             <div class="topicStatus">
    |               <p><%- t.retweeted_status.user.screen_name %>:<%= showLinks(t.retweeted_status.text) %></p>
    |               <% if (t.retweeted_status.thumbnail_pic) { %>
    |                 <div class="pic"><a href="<%= t.retweeted_status.original_pic %>"><img src="<%= t.retweeted_status.thumbnail_pic %>" onload="resizeImg(this)" /></a></div>
    |               <% } %>
    |             </div> 
    |           <% }%>
    |         </div>
    |         <% if (t.thumbnail_pic) { %>
    |           <div class="pic"><a href="<%= t.original_pic %>"><img src="<%= t.thumbnail_pic %>" onload="resizeImg(this)" /></a></div>
    |         <% } %>
    |         <div class="topicStats"><span><%= t.comments_count %> comments</span><span><%= t.reposts_count %> Reposts</span></div> 
    |       </td>
    |     </tr>
    |   </table>
    | </div>



  script(id="twitterTopicTemplate", type="text/tempate")
    | <div class="topic">
    |   <table>
    |     <tr>
    |       <td class="avatar"><img src="<%= t.user.profile_image_url %>" /></td>
    |       <td>
    |         <div class="topicTitle"><%- t.user.screen_name %></div> 
    |         <div class="topicTime">Posted at <%- t.created_at %></div>
    |         <div class="topicContent">
    |           <p><%= showLinks(t.text) %></p>
    |         </div>
    |         <div class="topicStats"><span><span><%= t.retweet_count %> Retweets</span></div> 
    |       </td>
    |     </tr>
    |   </table>
    | </div>


  script(id="blogTopicTemplate", type="text/tempate")
    | <div class="topic">
    |   <div class="topicTitle"><%- t.title %></div> 
    |   <div class="topicTime">Posted at <%- showDate(t.timestamp) %></div>
    |   <div class="topicContent">
    |     <p><%= showLinks(t.content) %></p>
    |   </div>
    | </div>


  script
    var source = "#{source || 'weibo'}";

  script(src='/javascripts/topics.js')
