doctype 5
html
  head
    title= site.name

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/#{fromMobile ? "mobile" : "www"}.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/jquery-ui.js')

  body
    #header 
      #sitename= site.name
      #sitetitle !{site.title} 
      #refreshButton
        img(src="/images/refresh.png")
    #body
      #home
        #topLoading
          img.loading(src="/images/loading.gif")
        block content
        #bottomLoading
          img.loading(src="/images/loading.gif")
        #moreButton More
        #end You've touched the ground.
      #source
      #about 
        p !{site.about}
        p 
          | Powered by 
          a(href="https://github.com/leonchen/jBlog", target="_blank") jBlog
    #footer
      table.menu
        thead
          tr
            th.on Home
            th Source
            th About

    script(src='/javascripts/site.js')
    script(src='/javascripts/#{fromMobile ? "mobile" : "www"}.js')
